body { 
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;    
  
  font-family: arial;
  text-align: center;

  min-width: 500px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
}

h1 { 
  color: #c0362c;
  font-size: 8em;
  padding: 0;
  margin: 0;
}

p { 
  color: grey;
  margin: 0;
  padding: 0;
}

